<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Index Page</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/cupboard/templates/style.css">
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand" href="/">Cupboard</a>
          <!-- Add navigation links here -->
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Dashboard</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/business/invoices/">Invoices</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/">Inventory</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/">Expenses</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/">Reports</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/">GST Reports</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/">Payments</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/">Settings</a>
                  </li>
            </ul>
          </div>
        </nav>
      </header>
    <h1>Welcome to Cupboard</h1>
    <p>This is the index page.</p>
    <a href="{% url 'invoice_list' %}">View Invoices</a>
    <a href="{% url 'inventory_list' %}">View Inventory</a>
    <a href="{% url 'expense_list' %}">View Expenses</a>
    <a href="{% url 'payment_list' %}">View Payments</a>
    <a href="{% url 'profit_and_loss_report' %}">Profit and Loss Report</a>
</body>
</html>
