<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index Page</title>
</head>
<body>
    <h1>Welcome to Cupboard</h1>
    <p>This is the index page.</p>
    <a href="{% url 'invoice_list' %}">View Invoices</a>
    <a href="{% url 'inventory_list' %}">View Inventory</a>
    <a href="{% url 'expense_list' %}">View Expenses</a>
    <a href="{% url 'payment_list' %}">View Payments</a>
    <a href="{% url 'profit_and_loss_report' %}">Profit and Loss Report</a>
</body>
</html>
